/venv/
/.pytest_cache/
/build/
/dist/
/spatium.egg-info/
/src/spatium.egg-info/
/src/spatium/*.c
/src/spatium/*.cpp
/src/spatium/*.pyd
/src/spatium/_spatium.pyx
/src/spatium/_spatium.pyi
/codegen/output/*
/benchmark/charts_local/
/benchmark/results_local/
