name: Benchmark

on:
  workflow_dispatch:

jobs:
  codegen:
    uses: ./.github/workflows/codegen.yml

  benchmark:
    needs: codegen
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download Codegen Result
        uses: actions/download-artifact@v4
        with:
          name: codegen_results
          path: src/spatium

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install Dependencies
        run: pip install -r requirements.txt

      - name: Build
        run: pip install -v -v -v .

      - name: Install Benchmark Dependencies
        run: pip install -r benchmark/requirements.txt

      - name: Benchmark
        run: python benchmarks.py
        working-directory: benchmark

      - name: Commit Results
        run: |
          git add benchmark/results
          git commit -m "Upload benchmark result"

      - name: Push
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
